annotated-doc
annotated-types
anyio
certifi
click
fastapi
flet
flet-web
h11
httpcore
httptools
httpx
idna
msgpack
oauthlib
pydantic
pydantic-core
pygame
python-dotenv
pyyaml
repath
six
starlette
typing-extensions
typing-inspection
uvicorn
uvloop
watchfiles
websockets
